@page "/showdata"
@using hms.Tenant.API.Model;
@inject IHttpClientFactory ClientFactory
@using System.Net.Http.Json

<h3>Weather Forecast</h3>

@if (Tenants == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var forecast in Tenants)
    {
        <p>@forecast.Id: @forecast.Name</p>
    }
}

@code {
    // private WeatherForecast[] forecasts;

    private HospitalTenant[] Tenants;

    private const string RequestUri = "api/Tenants";

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("MyHttpClient");

        Tenants = await client.GetFromJsonAsync<HospitalTenant[]>(Showdata.RequestUri);
        foreach(var forecast in Tenants)
        {
            
        Console.WriteLine(forecast.Name);
        }
    }

    public record WeatherForecast(DateTime Date, int TemperatureC, string Summary);
}