@page "/admin"
@rendermode InteractiveServer
@using hms.Tenant.API.Model;
@inject IHttpClientFactory ClientFactory
@using System.Net.Http.Json
@using WebApp.Services 


<PageTitle> Admin Panel</PageTitle>



<h1>Admin Dashboard</h1>


