body {
}

table {
    border-collapse: separate;
    border-spacing: 0 1em; /* Adjust the spacing as needed */
}

tr{

    
}
.data-table-row{
    height:30px;
}

    .data-table-row:hover {
        background-color: rgb(238 238 238 / 0.48);
        
    }