@page "/admin/newuser/"

@rendermode InteractiveServer
@using WebApp.Services; 



<h3>CreateNewTenant</h3>

@* @if (tenants != null) *@
@* { *@


    <form @onsubmit="DetailSubmit">
        <div class="form-section">

            <div class="first-grid">
                <div class="form-group">
                    <label>Name</label>

                </div>

                <div class="form-group">
                    <label>Address</label>

                </div>

                <div class="form-group">
                <label>URL</label>

                </div>

            <div class="form-group">
                    <label>Media Root Path</label>

                </div>
            <div class="form-group">
                    <label>Primary Color Hex Value</label>

                </div>
            <div class="form-group">
                    <label>Secondary Color Hex Value</label>

                </div>
            <div class="form-group">
                    <label>Primary Database</label>

                </div>
            <div class="form-group">
                    <label>Secondary Database</label>

                </div>
            </div>

            <div class="second-grid">
                <div class="form-group">
                <input type="text" @bind="name" placeholder="Name" />

                </div>
            <div class="form-group">
                <input type="text" @bind="address" placeholder="Address" />

                </div>
            <div class="form-group">
                <input type="text" @bind="url" placeholder="URL" />

                </div>
            <div class="form-group">
                <input type="text" @bind="mediaRootPath" placeholder="Media Root Path" />

                </div>
            <div class="form-group">
                <input type="text" @bind="primaryColorHexValue" placeholder="Primary Color Hex Value" />

                </div>
            <div class="form-group">
                <input type="text" @bind="secondaryColorHexValue" placeholder="Secondary Color Hex Value" />

                </div>
            <div class="form-group">
                <input type="text" @bind="primaryDatabase" placeholder="Primary Database" />

                </div>
            <div class="form-group">
                <input type="text" @bind="secondaryDatabase" placeholder="Secondary Database" />

                </div>
            </div>
            @* <div class="form-group">
                <br />
            </div>
            <div class="form-group">
                <br />
            </div>
            <div class="form-group">
                <br />
            </div>
            <div class="form-group">
                <br />
            </div>

            <div class="form-group">
                <br />
            </div>
            <div class="form-group">
                <br />
            </div>
            <!-- Other form fields... -->
            <div class="form-group">
                <br />
            </div>
            <div class="form-group">
                <br />
        </div>*@
        </div> 
        <!-- Features -->
        <div class="feature-group ">
            <lable>Features</lable>


            @if (getfeatures != null)
            {
                <div class="check-features">
                    @foreach (var feature in getfeatures)
                    {
                        <div>
                            <input type="checkbox" id="@($"feature{feature.Id}")" value="@($"feature{feature.Id}")" @bind="feature.IsChecked" />
                            <label for="@($"feature{feature.Id}")">@feature.Name</label>
                        </div>
                    }

                </div>
            }


        </div>

        <button type="submit">Submit</button>
    </form>





