
/* Custom styles for your form */
.form-label {
    font-weight: bold;
    /* Add more label styles as needed */
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    /* Add more input styles as needed */
}

.check-features {
    display: grid;
    grid-template-columns: auto auto auto auto;
}