@page "/"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<h3>HomePage</h3>

<h2 @onclick="CompanyFunction">Company</h2>
<h2 @onclick="tenantFunction">tenant</h2>


@code {
    private void CompanyFunction()
    {
        NavigationManager.NavigateTo("admin");
    }

    private void tenantFunction()
    {
        NavigationManager.NavigateTo("tenant");
    }
}
