@page "/admin/features/new"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@using hms.Tenant.API.Model;
@inject NavigationManager NavigationManager
@using WebApp.Services;


<h3>CreateFeature</h3>
<br/>
<form @onsubmit = "FeatureSubmit">
    <div class="form-group" >
        <label>Feature</label>
        <input type="text" @bind="newFeature" placeholder="Feature" />
        <br />
    </div>
    <button type="submit">Submit</button>

</form>

@code {
    private string newFeature;

    private Feature setFeature = new Feature();

    private ApiHelper helper;


    async private void FeatureSubmit()
    {
        Console.WriteLine(newFeature);
        if(newFeature != null)
        {
            try
            {
                helper = new ApiHelper(ClientFactory, "MyHttpClient");
                base.OnInitialized();

                var requestUri = $"api/Tenants/Feature";
                setFeature.Name = newFeature;

                var response = await helper.PostRequest<Feature>(requestUri, setFeature);
                Console.WriteLine(response);

                string requestUrl = "admin/features";

                NavigationManager.NavigateTo(requestUrl);


            }
            catch (HttpRequestException ex)
            {
                Console.WriteLine($"Error: {ex.Message}");

            }

        }
    }

}
