@page "/admin/features"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@using hms.Tenant.API.Model;
@inject NavigationManager NavigationManager



<h3>Feature</h3>

<button @onclick="CreateNewFeature">Create new Feature</button>




    @if (getFeatures != null)
    {
        <div class="check-features">
            @foreach (var feature in getFeatures)
            {
                <div>
                    @* <input type="checkbox" id="@($"feature{feature.Id}")" value="@($"feature{feature.Id}")" @bind="feature.IsChecked" /> *@
                    <label for="@($"feature{feature.Id}")">@feature.Name</label>
                </div>
            }

        </div>
    }
    else{
        <br />
        <p> Loading </p>
    }



@code {


    [Inject]
    private IHttpClientFactory _httpClientFactory { get; set; }

    private Feature[] getFeatures;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var httpClient = _httpClientFactory.CreateClient("MyHttpClient");

            // Api request to get list of all the features
            var requestUri = "api/Tenants/Feature";
            getFeatures = await httpClient.GetFromJsonAsync<Feature[]>(requestUri);

            // Api request to get Tenants Detail


            // foreach (var feature in getfeatures)
            // {
            //     foreach (var getfeaturedata in tenants.Features)
            //     {
            //         if (feature.Id == getfeaturedata.Id)
            //         {
            //             feature.IsChecked = true;
            //         }
            //     }
            // }


        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");

        }
    }

    private void CreateNewFeature()
    {
        string requestUrl = "admin/features/new";
        NavigationManager.NavigateTo(requestUrl);
    }
}

