@page "/admin/tenants/{id:int}"
@using System.Net.Http.Json
@using System.Text.Json
@using hms.Tenant.API.Model;
@inject IHttpClientFactory ClientFactory


<h1>Component Details</h1>
<p>ID: @id</p>

     <p>
    @if(tenants == null)
    {
        <p><em>loading...</em></p>

    } 
    else
    { 
        <p>id:@tenants.Id
        </p> 

        @tenants.Name

       
            
         }
    
</p>


@code {
    [Parameter] public int id { get; set; }

    private HospitalTenant tenants;

    [Inject]
    private IHttpClientFactory _httpClientFactory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // URL for api request
            string requestUri = "/api/tenants/1";

            // Request an GET api
            var httpClient = _httpClientFactory.CreateClient("MyHttpClient");
            tenants = await httpClient.GetFromJsonAsync<HospitalTenant>(requestUri);

            
           
        }
        catch (HttpRequestException ex)
        {
            // Handle exceptions (e.g., network errors)
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}



<h3>UserDetail</h3>

