@page "/admin/login"
@rendermode InteractiveServer

<PageTitle> Login</PageTitle>

<div class="login-container">

    <form class="login-form" @onsubmit="HandleLogin">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="input-section" type="text" id="username" @bind="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="input-section" type="password" id="password" @bind="Password" required>
        </div>
        <div class="form-group">
            <input class="input-section"  type="submit" value="Log in" >

        </div>
        <div class="forgot-password">
            <a href="/admin/forgot-password">Forgot password?</a>
        </div>
    </form>
    
     <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" /> 

    
</div>

