@page "/admin/resetPassword"
@rendermode InteractiveServer


<PageTitle> Reset</PageTitle>

<div class="login-container">
    <form class="login-form" @onsubmit="HandleReset">
        
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="input-section" type="password" id="password" @bind="Password" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="input-section" type="password" id="password" @bind="ConfirmPassword" required>
        </div>
        <div class="form-group">
            <input class="input-section" type="submit" value="Log in">

        </div>
        
    </form>
</div>


